<%= render :partial => 'layouts/header' %>
<div class="text-center">
  <div class="user_id">
    <label>
      ID:
    </label>
    <%= @user.user_id %>
  </div>
  <div class="user_name">
    <label>
      Name:
    </label>
    <%= @user.name %>
  </div>
</div>

